{
  "openapi": "3.1.0",
  "info": {
    "title": "Wp-openapi API",
    "description": "",
    "version": "6.7.1",
    "contact": {
      "name": "wp-openapi",
      "url": "http://localhost",
      "email": "emmanuel.amadio@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "http://any-server.com/wp-json"
    }
  ],
  "security": [],
  "paths": {
    "/wp/v2": {
      "get": {
        "tags": [
          "wp/v2"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "wp/v2"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "view"
            }
          }
        ]
      }
    },
    "/oembed/1.0": {
      "get": {
        "tags": [
          "oembed/1.0"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "oembed/1.0"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "view"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oembed/1.0/embed": {
      "get": {
        "tags": [
          "oembed/1.0"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The URL of the resource for which to fetch oEmbed data.",
            "required": true,
            "schema": {
              "format": "uri"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "json"
            }
          },
          {
            "name": "maxwidth",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": 600
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oembed/1.0/proxy": {
      "get": {
        "tags": [
          "oembed/1.0"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The URL of the resource for which to fetch oEmbed data.",
            "required": true,
            "schema": {
              "format": "uri"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The oEmbed format to use.",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "maxwidth",
            "in": "query",
            "description": "The maximum width of the embed frame in pixels.",
            "required": false,
            "schema": {
              "default": 600
            }
          },
          {
            "name": "maxheight",
            "in": "query",
            "description": "The maximum height of the embed frame in pixels.",
            "required": false,
            "schema": {}
          },
          {
            "name": "discover",
            "in": "query",
            "description": "Whether to perform an oEmbed discovery request for unsanctioned providers.",
            "required": false,
            "schema": {
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/wp/v2/block-directory/search": {
      "get": {
        "tags": [
          "block directory"
        ],
        "operationId": "blockDirectorySearchList",
        "summary": "List block directory items",
        "description": "Query this endpoint to retrieve a collection of block directory items.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContextView"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPage"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPerPage"
          },
          {
            "name": "term",
            "in": "query",
            "description": "Limit result set to blocks matching the search term.",
            "required": true,
            "schema": {
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockDirectoryItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-patterns/patterns": {
      "get": {
        "tags": [
          "Block patterns"
        ],
        "operationId": "blockPatternsList",
        "summary": "List block patterns",
        "description": "Query this endpoint to retrieve a collection of block patterns items.\n\nThere are no query parameters for this endpoint.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockPatternsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-patterns/categories": {
      "get": {
        "tags": [
          "Block patterns"
        ],
        "operationId": "blockPatternsCategoriesList",
        "summary": "List block patterns categories",
        "description": "Query this endpoint to retrieve a collection of block patterns categories.\n\nThere are no query parameters for this endpoint.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockPatternCategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-renderer/{name}": {
      "get": {
        "tags": [
          "Block renderer"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Unique registered name for the block.",
            "required": true,
            "schema": {}
          },
          {
            "name": "context",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "required": false,
            "schema": {
              "default": "view",
              "enum": [
                "edit"
              ]
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Attributes for the block.",
            "required": false,
            "schema": {}
          },
          {
            "name": "post_id",
            "in": "query",
            "description": "ID of the post context.",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderedBlockResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Block renderer"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Unique registered name for the block.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "description": "Scope under which the request is made; determines fields present in response.",
                    "default": "view",
                    "type": "string",
                    "enum": [
                      "edit"
                    ]
                  },
                  "attributes": {
                    "description": "Attributes for the block.",
                    "default": [],
                    "type": "object"
                  },
                  "post_id": {
                    "description": "ID of the post context.",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderedBlockResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-types": {
      "get": {
        "tags": [
          "block types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Block namespace.",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-types/{namespace}": {
      "get": {
        "tags": [
          "block types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "Block namespace.",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-types/{namespace}/{name}": {
      "get": {
        "tags": [
          "block types"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Block name.",
            "required": true,
            "schema": {}
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "Block namespace.",
            "required": true,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks": {
      "get": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPage"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPerPage"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Limit results to those matching a string.",
            "required": false,
            "schema": {}
          },
          {
            "name": "after",
            "in": "query",
            "description": "Limit response to posts published after a given ISO8601 compliant date.",
            "required": false,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "modified_after",
            "in": "query",
            "description": "Limit response to posts modified after a given ISO8601 compliant date.",
            "required": false,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Limit response to posts published before a given ISO8601 compliant date.",
            "required": false,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "modified_before",
            "in": "query",
            "description": "Limit response to posts modified before a given ISO8601 compliant date.",
            "required": false,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Ensure result set excludes specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Limit result set to specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "search_semantics",
            "in": "query",
            "description": "How to interpret the search input.",
            "required": false,
            "schema": {
              "enum": [
                "exact"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset the result set by a specific number of items.",
            "required": false,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterOrder"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Sort collection by post attribute.",
            "required": false,
            "schema": {
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            }
          },
          {
            "name": "search_columns",
            "in": "query",
            "description": "Array of column names to be searched.",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "post_title",
                  "post_content",
                  "post_excerpt"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Limit result set to posts with one or more specific slugs.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Limit result set to posts assigned one or more statuses.",
            "required": false,
            "schema": {
              "default": "publish",
              "items": {
                "enum": [
                  "publish",
                  "future",
                  "draft",
                  "pending",
                  "private",
                  "trash",
                  "auto-draft",
                  "inherit",
                  "request-pending",
                  "request-confirmed",
                  "request-failed",
                  "request-completed",
                  "any"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "tax_relation",
            "in": "query",
            "description": "Limit result set based on relationship between multiple taxonomies.",
            "required": false,
            "schema": {
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "wp_pattern_category",
            "in": "query",
            "description": "Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "unevaluatedProperties": false
                }
              ]
            }
          },
          {
            "name": "wp_pattern_category_exclude",
            "in": "query",
            "description": "Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    }
                  },
                  "unevaluatedProperties": false
                }
              ]
            }
          }
        ]
      },
      "post": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "description": "The date the post was published, in the site's timezone.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the post was published, as GMT.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the post unique to its type.",
                    "type": "string"
                  },
                  "status": {
                    "description": "A named status for the post.",
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private"
                    ]
                  },
                  "password": {
                    "description": "A password to protect access to the content and excerpt.",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      }
                    }
                  },
                  "content": {
                    "description": "The content for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer",
                        "x-context": [
                          "edit"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "excerpt": {
                    "description": "The excerpt for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object",
                    "properties": {
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    }
                  },
                  "template": {
                    "description": "The theme file to use to display the post.",
                    "type": "string"
                  },
                  "wp_pattern_category": {
                    "description": "The terms assigned to the post in the wp_pattern_category taxonomy.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{id}": {
      "get": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the post.",
            "required": true,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "name": "excerpt_length",
            "in": "query",
            "description": "Override the default excerpt length.",
            "required": false,
            "schema": {}
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for the post if it is password protected.",
            "required": false,
            "schema": {}
          }
        ]
      },
      "post": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the post.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "description": "The date the post was published, in the site's timezone.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the post was published, as GMT.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the post unique to its type.",
                    "type": "string"
                  },
                  "status": {
                    "description": "A named status for the post.",
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private"
                    ]
                  },
                  "password": {
                    "description": "A password to protect access to the content and excerpt.",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      }
                    }
                  },
                  "content": {
                    "description": "The content for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer",
                        "x-context": [
                          "edit"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "excerpt": {
                    "description": "The excerpt for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object",
                    "properties": {
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    }
                  },
                  "template": {
                    "description": "The theme file to use to display the post.",
                    "type": "string"
                  },
                  "wp_pattern_category": {
                    "description": "The terms assigned to the post in the wp_pattern_category taxonomy.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the post.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "description": "The date the post was published, in the site's timezone.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the post was published, as GMT.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the post unique to its type.",
                    "type": "string"
                  },
                  "status": {
                    "description": "A named status for the post.",
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private"
                    ]
                  },
                  "password": {
                    "description": "A password to protect access to the content and excerpt.",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      }
                    }
                  },
                  "content": {
                    "description": "The content for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer",
                        "x-context": [
                          "edit"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "excerpt": {
                    "description": "The excerpt for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object",
                    "properties": {
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    }
                  },
                  "template": {
                    "description": "The theme file to use to display the post.",
                    "type": "string"
                  },
                  "wp_pattern_category": {
                    "description": "The terms assigned to the post in the wp_pattern_category taxonomy.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the post.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "description": "The date the post was published, in the site's timezone.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the post was published, as GMT.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the post unique to its type.",
                    "type": "string"
                  },
                  "status": {
                    "description": "A named status for the post.",
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private"
                    ]
                  },
                  "password": {
                    "description": "A password to protect access to the content and excerpt.",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      }
                    }
                  },
                  "content": {
                    "description": "The content for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer",
                        "x-context": [
                          "edit"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "excerpt": {
                    "description": "The excerpt for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object",
                    "properties": {
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    }
                  },
                  "template": {
                    "description": "The theme file to use to display the post.",
                    "type": "string"
                  },
                  "wp_pattern_category": {
                    "description": "The terms assigned to the post in the wp_pattern_category taxonomy.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the post.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "description": "Whether to bypass Trash and force deletion.",
                    "default": false,
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{parent}/revisions": {
      "get": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockRevisionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The ID for the parent of the revision.",
            "required": true,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPage"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPerPage"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Limit results to those matching a string.",
            "required": false,
            "schema": {}
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Ensure result set excludes specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Limit result set to specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset the result set by a specific number of items.",
            "required": false,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterOrder"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "required": false,
            "schema": {
              "default": "date",
              "enum": [
                "date",
                "id",
                "include",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/wp/v2/blocks/{parent}/revisions/{id}": {
      "get": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockRevisionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The ID for the parent of the revision.",
            "required": true,
            "schema": {}
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the revision.",
            "required": true,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          }
        ]
      },
      "delete": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockRevisionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The ID for the parent of the revision.",
            "required": true,
            "schema": {}
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the revision.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "description": "Required to be true, as revisions do not support trashing.",
                    "default": false,
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{id}/autosaves": {
      "get": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockRevisionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "description": "The ID for the parent of the autosave.",
            "required": false,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ]
      },
      "post": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockRevisionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent": {
                    "description": "The ID for the parent of the autosave.",
                    "type": "integer"
                  },
                  "date": {
                    "description": "The date the post was published, in the site's timezone.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the post was published, as GMT.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the post unique to its type.",
                    "type": "string"
                  },
                  "status": {
                    "description": "A named status for the post.",
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private"
                    ]
                  },
                  "password": {
                    "description": "A password to protect access to the content and excerpt.",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      }
                    }
                  },
                  "content": {
                    "description": "The content for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit"
                        ]
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer",
                        "x-context": [
                          "edit"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "excerpt": {
                    "description": "The excerpt for the post.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object",
                    "properties": {
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    }
                  },
                  "template": {
                    "description": "The theme file to use to display the post.",
                    "type": "string"
                  },
                  "wp_pattern_category": {
                    "description": "The terms assigned to the post in the wp_pattern_category taxonomy.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{parent}/autosaves/{id}": {
      "get": {
        "tags": [
          "blocks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPBlockRevisionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "The ID for the parent of the autosave.",
            "required": true,
            "schema": {}
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID for the autosave.",
            "required": true,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          }
        ]
      }
    },
    "/wp/v2/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoriesList",
        "summary": "List categories",
        "description": "Query this endpoint to retrieve a collection of categories.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPage"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPerPage"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Limit results to those matching a string.",
            "required": false,
            "schema": {}
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Ensure result set excludes specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Limit result set to specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "$ref": "#/components/parameters/QueryParameterOrder",
            "schema": {
              "default": "asc"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Sort collection by term attribute.",
            "required": false,
            "schema": {
              "default": "name",
              "enum": [
                "id",
                "include",
                "name",
                "slug",
                "include_slugs",
                "term_group",
                "description",
                "count"
              ]
            }
          },
          {
            "name": "hide_empty",
            "in": "query",
            "description": "Whether to hide terms not assigned to any posts.",
            "required": false,
            "schema": {}
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Limit result set to terms assigned to a specific parent.",
            "required": false,
            "schema": {}
          },
          {
            "name": "post",
            "in": "query",
            "description": "Limit result set to terms assigned to a specific post.",
            "required": false,
            "schema": {}
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Limit result set to terms with one or more specific slugs.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoryCreate",
        "summary": "Create category",
        "description": "Query this endpoint to create a category.\n",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "description": "HTML description of the term.",
                    "type": "string"
                  },
                  "name": {
                    "description": "HTML title for the term.",
                    "type": "string"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the term unique to its type.",
                    "type": "string"
                  },
                  "parent": {
                    "description": "The parent term ID.",
                    "type": "integer"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoryGet",
        "summary": "Retrieve a category",
        "description": "Query this endpoint to retrieve to retrieve a specific category record.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathParameterId"
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoryPost",
        "summary": "Update a category",
        "description": "Query this endpoint to update a specific category record.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathParameterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "description": "HTML description of the term.",
                    "type": "string"
                  },
                  "name": {
                    "description": "HTML title for the term.",
                    "type": "string"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the term unique to its type.",
                    "type": "string"
                  },
                  "parent": {
                    "description": "The parent term ID.",
                    "type": "integer"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoryPut",
        "summary": "Update a category",
        "description": "Query this endpoint to update a specific category record.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathParameterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "description": "HTML description of the term.",
                    "type": "string"
                  },
                  "name": {
                    "description": "HTML title for the term.",
                    "type": "string"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the term unique to its type.",
                    "type": "string"
                  },
                  "parent": {
                    "description": "The parent term ID.",
                    "type": "integer"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoryPatch",
        "summary": "Patch a category",
        "description": "Query this endpoint to patch a specific category record.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathParameterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "description": "HTML description of the term.",
                    "type": "string"
                  },
                  "name": {
                    "description": "HTML title for the term.",
                    "type": "string"
                  },
                  "slug": {
                    "description": "An alphanumeric identifier for the term unique to its type.",
                    "type": "string"
                  },
                  "parent": {
                    "description": "The parent term ID.",
                    "type": "integer"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "operationId": "categoryDelete",
        "summary": "Delete a category",
        "description": "Query this endpoint to delete a specific category record.\n\nThe response you receive can be controlled and filtered using the URL query parameters below.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathParameterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "description": "Required to be true, as terms do not support trashing.",
                    "default": false,
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/comments": {
      "get": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPage"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPerPage"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Limit results to those matching a string.",
            "required": false,
            "schema": {}
          },
          {
            "name": "after",
            "in": "query",
            "description": "Limit response to comments published after a given ISO8601 compliant date.",
            "required": false,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "Limit result set to comments assigned to specific user IDs. Requires authorization.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "author_exclude",
            "in": "query",
            "description": "Ensure result set excludes comments assigned to specific user IDs. Requires authorization.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "author_email",
            "in": "query",
            "description": "Limit result set to that from a specific author email. Requires authorization.",
            "required": false,
            "schema": {
              "format": "email"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Limit response to comments published before a given ISO8601 compliant date.",
            "required": false,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Ensure result set excludes specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Limit result set to specific IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset the result set by a specific number of items.",
            "required": false,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterOrder"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Sort collection by comment attribute.",
            "required": false,
            "schema": {
              "default": "date_gmt",
              "enum": [
                "date",
                "date_gmt",
                "id",
                "include",
                "post",
                "parent",
                "type"
              ]
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Limit result set to comments of specific parent IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "parent_exclude",
            "in": "query",
            "description": "Ensure result set excludes specific parent IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "post",
            "in": "query",
            "description": "Limit result set to comments assigned to specific post IDs.",
            "required": false,
            "schema": {
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Limit result set to comments assigned a specific status. Requires authorization.",
            "required": false,
            "schema": {
              "default": "approve"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Limit result set to comments assigned a specific type. Requires authorization.",
            "required": false,
            "schema": {
              "default": "comment"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for the post if it is password protected.",
            "required": false,
            "schema": {}
          }
        ]
      },
      "post": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "author": {
                    "description": "The ID of the user object, if author was a user.",
                    "type": "integer"
                  },
                  "author_email": {
                    "description": "Email address for the comment author.",
                    "type": "string",
                    "format": "email"
                  },
                  "author_ip": {
                    "description": "IP address for the comment author.",
                    "type": "string",
                    "format": "ip"
                  },
                  "author_name": {
                    "description": "Display name for the comment author.",
                    "type": "string"
                  },
                  "author_url": {
                    "description": "URL for the comment author.",
                    "type": "string",
                    "format": "uri"
                  },
                  "author_user_agent": {
                    "description": "User agent for the comment author.",
                    "type": "string"
                  },
                  "content": {
                    "description": "The content for the comment.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the comment, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML content for the comment, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "date": {
                    "description": "The date the comment was published, in the site's timezone.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the comment was published, as GMT.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "parent": {
                    "description": "The ID for the parent of the comment.",
                    "default": 0,
                    "type": "integer"
                  },
                  "post": {
                    "description": "The ID of the associated post object.",
                    "default": 0,
                    "type": "integer"
                  },
                  "status": {
                    "description": "State of the comment.",
                    "type": "string"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/comments/{id}": {
      "get": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the comment.",
            "required": true,
            "schema": {}
          },
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for the parent post of the comment (if the post is password protected).",
            "required": false,
            "schema": {}
          }
        ]
      },
      "post": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the comment.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "author": {
                    "description": "The ID of the user object, if author was a user.",
                    "type": "integer"
                  },
                  "author_email": {
                    "description": "Email address for the comment author.",
                    "type": "string",
                    "format": "email"
                  },
                  "author_ip": {
                    "description": "IP address for the comment author.",
                    "type": "string",
                    "format": "ip"
                  },
                  "author_name": {
                    "description": "Display name for the comment author.",
                    "type": "string"
                  },
                  "author_url": {
                    "description": "URL for the comment author.",
                    "type": "string",
                    "format": "uri"
                  },
                  "author_user_agent": {
                    "description": "User agent for the comment author.",
                    "type": "string"
                  },
                  "content": {
                    "description": "The content for the comment.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the comment, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML content for the comment, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "date": {
                    "description": "The date the comment was published, in the site's timezone.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the comment was published, as GMT.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "parent": {
                    "description": "The ID for the parent of the comment.",
                    "type": "integer"
                  },
                  "post": {
                    "description": "The ID of the associated post object.",
                    "type": "integer"
                  },
                  "status": {
                    "description": "State of the comment.",
                    "type": "string"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the comment.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "author": {
                    "description": "The ID of the user object, if author was a user.",
                    "type": "integer"
                  },
                  "author_email": {
                    "description": "Email address for the comment author.",
                    "type": "string",
                    "format": "email"
                  },
                  "author_ip": {
                    "description": "IP address for the comment author.",
                    "type": "string",
                    "format": "ip"
                  },
                  "author_name": {
                    "description": "Display name for the comment author.",
                    "type": "string"
                  },
                  "author_url": {
                    "description": "URL for the comment author.",
                    "type": "string",
                    "format": "uri"
                  },
                  "author_user_agent": {
                    "description": "User agent for the comment author.",
                    "type": "string"
                  },
                  "content": {
                    "description": "The content for the comment.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the comment, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML content for the comment, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "date": {
                    "description": "The date the comment was published, in the site's timezone.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the comment was published, as GMT.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "parent": {
                    "description": "The ID for the parent of the comment.",
                    "type": "integer"
                  },
                  "post": {
                    "description": "The ID of the associated post object.",
                    "type": "integer"
                  },
                  "status": {
                    "description": "State of the comment.",
                    "type": "string"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the comment.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "author": {
                    "description": "The ID of the user object, if author was a user.",
                    "type": "integer"
                  },
                  "author_email": {
                    "description": "Email address for the comment author.",
                    "type": "string",
                    "format": "email"
                  },
                  "author_ip": {
                    "description": "IP address for the comment author.",
                    "type": "string",
                    "format": "ip"
                  },
                  "author_name": {
                    "description": "Display name for the comment author.",
                    "type": "string"
                  },
                  "author_url": {
                    "description": "URL for the comment author.",
                    "type": "string",
                    "format": "uri"
                  },
                  "author_user_agent": {
                    "description": "User agent for the comment author.",
                    "type": "string"
                  },
                  "content": {
                    "description": "The content for the comment.",
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the comment, as it exists in the database.",
                        "type": "string",
                        "x-context": [
                          "edit"
                        ]
                      },
                      "rendered": {
                        "description": "HTML content for the comment, transformed for display.",
                        "type": "string",
                        "x-context": [
                          "view",
                          "edit",
                          "embed"
                        ],
                        "readOnly": true
                      }
                    }
                  },
                  "date": {
                    "description": "The date the comment was published, in the site's timezone.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "date_gmt": {
                    "description": "The date the comment was published, as GMT.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "parent": {
                    "description": "The ID for the parent of the comment.",
                    "type": "integer"
                  },
                  "post": {
                    "description": "The ID of the associated post object.",
                    "type": "integer"
                  },
                  "status": {
                    "description": "State of the comment.",
                    "type": "string"
                  },
                  "meta": {
                    "description": "Meta fields.",
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the comment.",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "description": "Whether to bypass Trash and force deletion.",
                    "default": false,
                    "type": "boolean"
                  },
                  "password": {
                    "description": "The password for the parent post of the comment (if the post is password protected).",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/font-collections": {
      "get": {
        "tags": [
          "font collections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FontCollectionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPage"
          },
          {
            "$ref": "#/components/parameters/QueryParameterPerPage"
          }
        ]
      }
    },
    "/wp/v2/font-collections/{slug}": {
      "get": {
        "tags": [
          "font collections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FontCollectionResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParameterContext"
          },
          {
            "name": "slug",
            "in": "path",
[...]
